*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body{
    background-image: url(./file/bacg.jpg);
    background-size: cover;
}
.conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bac{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}
.music_player {
    width: 400px;
    /* backdrop-filter: blur(10px); */
    padding: 25px 30px;
    
    border-radius: 25px;
}

img {
    width: 220px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px;
    margin-left: 50px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0px 0px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

h1{
display: flex;
justify-content: center;


}
h6{
    display: flex;
    justify-content: center;
}

h2{
    font-size: 30px;
    margin-left: 100px;
}
p{
    font-style: italic;
    font-size: 15px;
    margin-left: 135px;
}

#progress {
    -webkit-appearance: none;
   width: 100%;
   height: 6px; 
   border-radius: 4px;
   cursor: pointer;
   margin: 30px 0;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid gray;
    background-color: black;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px  ;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.controls div:nth-child(2){
    transform: scale(1.5);
    
}

@media (max-width:390px){
    .music_player{
        width: 350px;
        
    }
    h2{
        
        margin-left: 90px;
    }
    p{

        margin-left: 125px;
    }
    img{
        margin-left: 40px;
    }
}